<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>返回</ion-back-button>
    </ion-buttons>
    <ion-title>完善用户信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm">

    <!-- <div> -->
    <!-- <ImagePicker -->
    <!-- [files]="files" -->
    <!-- [multiple]="multiple" -->
    <!-- [selectable]="files.length < 9" -->
    <!-- [accept]="'image/gif,image/jpeg,image/jpg,image/png'" -->
    <!-- (onChange)="fileChange($event)" -->
    <!-- (onImageClick)="imageClick($event)" -->
    <!-- (onImageChange)="ImageChange($event)" -->
    <!-- ></ImagePicker> -->
    <!-- </div> -->

    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">用户信息</ion-label>
      </ion-list-header>

      <ion-item class="input-item">
        <ion-label position="floating">姓名</ion-label>
        <ion-input type="text" formControlName="real_name" clearInput required></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.real_name">
          <div class="error-message"
            *ngIf="validationsForm.get('real_name').hasError(validation.type) && (validationsForm.get('real_name').dirty || validationsForm.get('real_name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- <ion-item class="input-item">
        <ion-label position="floating">昵称</ion-label>
        <ion-input type="text" formControlName="nick_name" clearInput></ion-input>
      </ion-item> -->


      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">性别</ion-label>
        <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
          <ion-select-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.gender">
          <div class="error-message"
            *ngIf="validationsForm.get('gender').hasError(validation.type) && (validationsForm.get('gender').dirty || validationsForm.get('gender').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label position="floating">绑定电话</ion-label>
        <ion-input clearInput placeholder="+86" type="text" formControlName="phone"></ion-input>
        <ion-button size="small" (click)="showBindingModal()">换绑</ion-button>
      </ion-item>

    </ion-list>


    <!-- <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">地区</ion-label>
      </ion-list-header>

      <ion-item class="input-item">
        <ion-label position="floating">省份</ion-label>
        <ion-input type="text" formControlName="province" clearInput></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">城市</ion-label>
        <ion-input type="text" formControlName="city" clearInput></ion-input>
      </ion-item>
       
    </ion-list> -->


    <ion-list class="inputs-list" lines="full" *ngIf="userRole==='salesman'">
      <ion-list-header>
        <ion-label class="header-title">用户图像</ion-label>
      </ion-list-header>

      <div slot="end">
        <ImagePicker [files]="f.headimg_url.value" [multiple]="multiple" [length]="1"
          [selectable]="f.headimg_url.value.length < 1" [accept]="'image/gif,image/jpeg,image/jpg,image/png'"
          (onChange)="fileChange($event)" (onImageClick)="imageClick($event)" (onImageChange)="ImageChange($event)">
        </ImagePicker>
      </div>

    </ion-list>
    <!-- 
      <ion-item class="input-item">
        <ion-label position="floating">用户简介</ion-label>
        <ion-textarea formControlName="about" rows="6" cols="20" clearOnEdit="true" placeholder="请填写简介内容..."></ion-textarea>
      </ion-item>

    </ion-list> -->

    <!-- allows image nulls || (!ownInfo.headimgUrl && !f.headimg_url.value[0]?.link) -->
    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid"
      (click)="onSubmit()">提交</ion-button>
  </form>
</ion-content>