<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col class="user-image-wrapper">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-image" animation="spinner" [src]="(profile?.headimgUrl && profile?.headimgUrl!=='')? profile.headimgUrl : (profile?.sex != '2' ? './assets/icon/male.png' : './assets/icon/female.png')"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="7">
          <h3 class="user-name">
            <app-text-shell [data]="profile?.realName"></app-text-shell>
          </h3>
          <h5 class="user-title">
            <app-text-shell [data]="profile?.phone"></app-text-shell>
          </h5>
        </ion-col>
        <ion-col class="membership-col" size="5">
          <span class="user-membership">
            <app-text-shell [data]="userRole"></app-text-shell>
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="actions-row">
        <ion-col class="main-actions">
          <!-- <ion-button class="call-to-action-btn" size="small" color="primary">{{ '' | translate }}</ion-button> -->
          <!-- <ion-button class="call-to-action-btn" size="small" color="medium">{{ 'MESSAGE' | translate }}</ion-button> -->
        </ion-col>
        <ion-col class="secondary-actions">
          <ion-button class="more-btn" size="small" fill="clear" color="medium" (click)="openModifyUserProfile()">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="user-stats-section">
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
        <app-text-shell [data]="profile?.refCount"></app-text-shell>
      </span>
      <span class="stat-name">{{ '推荐数量' | translate }}</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
        <app-text-shell [data]="profile?.avtiveCount"></app-text-shell>
      </span>
      <span class="stat-name">{{ '待办客户' | translate }}</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
        <app-text-shell [data]="profile?.endCount"></app-text-shell>
      </span>
      <span class="stat-name">{{ '完结客户' | translate }}</span>
    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">{{ '介绍' | translate }}</h3>
    <p class="user-description">{{profile?.about ? profile?.about: '暂无介绍'}}
      <!-- <app-text-shell animation="bouncing" lines="4" [data]="profile?.about">{{!profile?.about}}</app-text-shell> -->
    </p>
  </div>
  <!-- <div class="user-friends-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">{{ '客户' | translate }}</h3>
    </ion-row> -->
    <!-- <ion-row class="friends-row">
      <ion-col class="friend-item" *ngFor="let customer of profile?.customers">

        <a class="has-more-pictures" [routerLink]="['/app/referrals/', customer?.id]">
          <span class="pictures-count">{{ customer?.customerName}}</span>
        </a>
        <span class="friend-name">
          <app-text-shell [data]="customer.phone"></app-text-shell>
        </span>
      </ion-col>
    </ion-row> -->
            <!-- <app-aspect-ratio [ratio]="{w: 1, h: 1}" >
          <div class="color-radio-inner-wrapper">
            <ion-label class="color-label">Red</ion-label>
          </div>
        </app-aspect-ratio> -->
  <!-- </div> -->
  <div class="user-about-section" *ngIf="userRole === '经理' || userRole === '楼盘对接'">
    <ion-row class="heading-row">
      <h3 class="details-section-title">{{ '流程办理' | translate }}</h3>
    </ion-row>
    <ion-col class="user-stats-wrapper" size="6" *ngIf="onHold >= 1">
      <span class="user-stat-value">您还有{{onHold}}条流程待办理</span>
      <span class="user-stat-name">
        <a style="text-decoration:underline;" (click)="presentModal()">点击查看详情</a>
      </span>
    </ion-col>
  </div>

  <div class="user-photos-section" *ngIf="userRole === '经理'">
    <ion-row class="heading-row">
      <h3 class="details-section-title">{{ '跟办记录审核' | translate }}</h3>
      <!-- <a class="heading-call-to-action">{{ '查看全部' | translate }}</a> -->
    </ion-row>
    <div class="related-activities-wrapper" *ngIf="auditInfo && auditInfo.length > 0">
      <!-- <h3 class="detail-alt-title">More activities?</h3> -->
      <ion-row class="related-activity" *ngFor="let track of auditInfo">
        <ion-col class="picture-wrapper" *ngFor="let url of track?.urls.slice(0, 3); let i = index">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="picture-image" [src]="url" [alt]="'img'" ionImgViewer></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col size="12">
        </ion-col>
        <ion-col size="12" class="activity-details">
          <h5 class="activity-name">
            <!-- <ion-label class="type"><app-text-shell [data]="track?.handleType"></app-text-shell></ion-label> -->
            <!-- <app-text-shell [data]="track?.content"></app-text-shell> -->
            <span style="color: rgb(81, 24, 240);">「{{track?.handleType === '0' ? '普通跟办': (track?.handleType ===
              '1'? '带看/来访': (track?.handleType === '2'? '成交确认': '佣金结算'))}}」</span>
            {{track?.content}}
          </h5>
          <span class="activity-category">
            <app-text-shell [data]="track?.createTime"></app-text-shell>
          </span>
          <ion-button class="activity-rating" expand="block" fill="clear" color="success" (click)="update(track?.id, 1)">
            <ion-icon slot="icon-only" name="checkbox"></ion-icon>
          </ion-button>
          <ion-button class="activity-close" expand="block" fill="clear" color="warning" (click)="update(track?.id, 2)">
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
          <!-- <div class="activity-rating">
          <ion-icon class="rating-icon" name="star-outline"></ion-icon>
          <div class="rating-value"> -->
          <!-- <app-text-shell [data]="relatedActivity.rating"></app-text-shell> -->
          <!-- </div> -->
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </div>
    <!-- <ion-row class="pictures-row"> -->
      <!-- <ion-col class="picture-item" *ngFor="let photo of profile?.photos">
        <app-image-shell [display]="'cover'" [src]="photo.image" class="user-photo-image">
          <app-aspect-ratio [ratio]="{w:1, h:1}">
          </app-aspect-ratio>
        </app-image-shell>
      </ion-col> -->
    <!-- </ion-row> -->
  </div>
  <div class="legal-stuff">
   新邦网络@ <a class="legal-action" (click)="showPrivacyModal()">隐私政策</a>.
  </div>
</ion-content>