<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">关闭</ion-button>
    </ion-buttons>
    <!-- <ion-title> -->
      <!-- 详情 -->
    <!-- </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <h3 class="legal-title">输入验证码</h3>
  <p class="legal-text">
    验证码已发送至 +86 {{phone}}
  </p>

  <ion-row>
    <ion-col>
      <ion-item class="input-item">
        <ion-input #firstNum maxlength="1" type="text" inputmode="tel" (value)="verifyFirst" (ionInput)="inputEvent($event, 1)" (keyup)="onKeyUpEvent($event, 1)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="input-item">
        <ion-input #secondNum maxlength="1" type="text" inputmode="tel" (value)="verifyTwo" (ionInput)="inputEvent($event, 2)" (keyup)="onKeyUpEvent($event, 2)" [disabled]="verifyFirst===''"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="input-item">
        <ion-input #thirdNum maxlength="1" type="text" inputmode="tel" (value)="verifyThree" (ionInput)="inputEvent($event, 3)" (keyup)="onKeyUpEvent($event, 3)" [disabled]="verifyFirst===''"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="input-item">
        <ion-input #fourthNum maxlength="1" type="text" inputmode="tel" (value)="verifyFour" (ionInput)="inputEvent($event, 4)" (keyup)="onKeyUpEvent($event, 4)" [disabled]="verifyFirst===''"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-content>
