:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background);
  
    --page-second-slide-background: #a9ebd2;

    // --page-vector-decoration-fill: var(--page-second-slide-background);
  }
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
  ion-header {
    ion-toolbar {
      --ion-toolbar-background: transparent;
  
      // For the skip button
      ion-button {
        --color: var(--ion-color-lightest);
      }
    }
  }
  
  ion-content {
    // To get the ion-content behind the ion-header
    position: absolute;
    top: 0;
  }
  
.illustration-and-decoration {
  --page-vector-decoration-fill: var(--page-second-slide-background);
  height: 100%;

  .inner-row {
    height: 100%;
    width: 100%;
    padding: 0px;
    // Header space
    padding-top: var(--app-header-height);
    // .swiper-pagination space
    border-bottom: var(--page-swiper-pagination-space) solid transparent;
    background-clip: padding-box;
    background-color: var(--page-vector-decoration-fill);

    --ion-grid-column-padding: 0px;
  
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
  }

   /*  .inner-row {
      --ion-grid-column-padding: 0px;
  
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
    } */
  
    .illustration-col {
      flex-grow: 0;
      flex-shrink: 0;
      min-height: auto;
      min-height: fit-content;
      max-width: 30vh;
      padding: 0px;
    }
  
    .decoration-col {
      flex-grow: 0;
      flex-shrink: 1;
  
      // To prevent transparent line caused by pixel fractions
      min-height: 12vh;
      transform: translate3d(0px, 0px, 0px);
  
      .vector-decoration {
        fill: currentColor;
        color: var(--page-vector-decoration-fill);
        background-color: var(--page-background);
        padding-bottom: 4px;
  
        // To prevent transparent line caused by pixel fractions
        transform: translate3d(0px, 0px, 0px);
        shape-rendering: geometricprecision;
        height: calc(100% + 1px);
      }
    }
  
    .info-col {
      flex-grow: 1;
      flex-shrink: 0;
      min-height: auto;
      background-color: var(--page-background);
  
      // To prevent transparent line caused by pixel fractions
      margin-bottom: -1px;
      // Prevent .info-wrapper text to blink as it's over the previous element (Safari issue)
      transform: translate3d(0px, 0px, 0px);
  
      .info-wrapper {
        margin: calc(var(--page-margin) * -1) var(--page-margin) 0px;
        text-align: left;
  
        .info-title {
          margin: 0px;
          margin-bottom: var(--page-margin);
          color: var(--ion-color-dark);
        }
  
        .info-paragraph {
          color: var(--ion-color-medium-shade);
          font-size: 14px;
          margin: 0px 0px calc(var(--page-margin) / 2);
  
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }