<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      首页推荐
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <!-- <ion-row class="slider-row">
    <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
      <ion-slide class="" *ngFor="let slide of data?.slides">
        <ion-row class="slide-inner-row">
          <app-aspect-ratio [ratio]="{w: 56, h: 20}">
            <app-image-shell [src]="slide?.src" [alt]="'deals details'" class="showcase-image" animation="spinner">
            </app-image-shell>
          </app-aspect-ratio>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-row>  -->

  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

    <ion-list class="inputs-list" lines="full">
      <!-- <ion-list-header>
        <ion-label class="header-title">推荐信息</ion-label>
      </ion-list-header> -->

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">是否全号</ion-label>
        <ion-select formControlName="all_no" cancelText="Cancel" okText="OK">
          <ion-select-option *ngFor="let allNo of allNos" [value]="allNo">{{ allNo }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">带看方式</ion-label>
        <ion-select formControlName="take_way" cancelText="Cancel" okText="OK">
          <ion-select-option *ngFor="let takeWay of takeWays" [value]="takeWay">{{ takeWay }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">客户姓名</ion-label>
        <ion-input type="text" formControlName="customer_name" clearInput required></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.customer_name">
          <div class="error-message"
            *ngIf="validationsForm.get('customer_name').hasError(validation.type) && (validationsForm.get('customer_name').dirty || validationsForm.get('customer_name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">电话</ion-label>
        <ion-input clearInput type="text" formControlName="phone" (ionInput)="inputEvent($event)" ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.phone">
          <div class="error-message"
            *ngIf="validationsForm.get('phone').hasError(validation.type) && (validationsForm.get('phone').dirty || validationsForm.get('phone').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

    </ion-list>

    <ion-item-divider>
      <ion-label>楼盘选择：</ion-label>
    </ion-item-divider>

    <ion-list class="checkbox-list" lines="full" >
      <!-- <ion-list-header>
        <ion-label class="header-title">楼盘选择：</ion-label>
      </ion-list-header> -->

      <!-- <ion-item class="checkbox-item">
        <ion-label class="checkbox-label">Sophia Martin</ion-label>
        <ion-checkbox color="secondary" formControlName="person_1"></ion-checkbox>
      </ion-item> -->
      <form [formGroup]="checkboxAffsForm">
        <ion-item class="notification-item" lines="none" *ngFor="let aff of affList;let i = index">
          <ion-row class="notification-item-wrapper" *ngIf="aff.delFlag!='1'">
            <ion-col size="1.3" class="date-wrapper">
              <ion-checkbox color="secondary" [formControlName]="'aff_' + i"></ion-checkbox>
            </ion-col>
            <ion-col size="2">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="notification-image"
                  [src]="aff.firstFigure" [alt]="'aff image'">
                </app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="details-wrapper">
              <h2 class="details-name">{{aff.projectName}}</h2>
              <p class="details-description">客户有效期：{{aff.validity}}天</p>
            </ion-col>
            <ion-col size="3.5" class="date-wrapper">
              <h3 class="average-price">均价：{{aff.price}}元/㎡</h3>
              <p class="commission-rating">佣金标准</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </form>
      

      <!-- <ion-item class="notification-item" lines="none">
        <ion-row class="notification-item-wrapper">
          <ion-col size="1.3" class="date-wrapper">
            <ion-checkbox color="secondary" formControlName="person_2"></ion-checkbox>
          </ion-col>
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="notification-image"
                [src]="'./assets/sample-images/notifications/100x100Notification1.jpg'" [alt]="'aff image'">
              </app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">天门小楼盘</h2>
            <p class="details-description">客户有效期：30天</p>
          </ion-col>
          <ion-col size="3.5" class="date-wrapper">
            <h3 class="average-price">均价：5000元/㎡</h3>
            <p class="commission-rating">佣金标准</p>
          </ion-col>
        </ion-row>
      </ion-item> -->

      <!-- <ion-item class="notification-item" lines="none">
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="notification-image"
                [src]="'./assets/sample-images/notifications/100x100Notification1.jpg'" [alt]="'aff image'">
              </app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">天门大楼盘</h2>
            <p class="details-description">大楼盘全民营销火热进行中</p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <h3 class="notification-date">佣金标准</h3>
            <ion-checkbox color="secondary" formControlName="person_2"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-item> -->
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid">提交
    </ion-button>
  </form>
</ion-content>