<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="transact-details-content">
  <ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h4 class="preference-name">客户：</h4>
      <p class="preference-value">
        {{currentReferral?.customerName}}
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">电话：</h4>
      <p class="preference-value">
        {{currentReferral?.phone}}
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">咨询楼盘：</h4>
      <p class="preference-value">
        {{currentReferral?.basicInfo?.projectName}}
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">客户意向：</h4>
      <p class="preference-value">
        {{currentReferral?.description}}
      </p>
    </ion-col>
  </ion-row>

  <ion-item-divider>
    <ion-label>补全号码</ion-label>
  </ion-item-divider>

  <ion-row>
    <ion-col>
      <ion-item class="input-item">
        <ion-input #firstNum maxlength="1" type="text" inputmode="tel" (value)="verifyFirst" (ionInput)="inputEvent($event, 1)" (keyup)="onKeyUpEvent($event, 1)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="input-item">
        <ion-input #secondNum maxlength="1" type="text" inputmode="tel" (value)="verifyTwo" (ionInput)="inputEvent($event, 2)" (keyup)="onKeyUpEvent($event, 2)" [disabled]="verifyFirst===''"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="input-item">
        <ion-input maxlength="1" type="text" inputmode="tel" disabled="true" placeholder="*"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="input-item">
        <ion-input maxlength="1" type="text" inputmode="tel" disabled="true" placeholder="*"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!inputVerify" (click)="onSubmit(true)">提交</ion-button>
    
    <ion-button class="submit-btn" size="small" expand="block" color="medium" (click)="onSubmit(false)">结束推荐</ion-button>




</ion-content>
