<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">关闭</ion-button>
    </ion-buttons>
    <ion-title>
      添加跟办记录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">上传跟办详情图片</ion-label>
      </ion-list-header>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <!-- <ion-item class="input-item item-label-floating">
        <ion-label position="floating">上传带看单</ion-label>
      </ion-item> -->
      <div slot="end">
        <ImagePicker
          [files]="f.take_bill.value"
          [multiple]="multiple === 0"
          [length]="3"
          [selectable]="f.take_bill.value.length < 3"
          [accept]="'image/gif,image/jpeg,image/jpg,image/png'"
          (onChange)="fileChange($event)"
          (onImageClick)="imageClick($event)"
          (onImageChange)="ImageChange($event)">
        </ImagePicker>
      </div>


      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">说明</ion-label>
        <ion-input type="text" formControlName="details" clearInput></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.details">
          <div class="error-message" *ngIf="validationsForm.get('details').hasError(validation.type) && (validationsForm.get('details').dirty || validationsForm.get('details').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item item-label-floating">
        <ion-label position="floating">办理方式</ion-label>
        <ion-select formControlName="handle_type" cancelText="取消" okText="确认">
          <ion-select-option *ngFor="let ht of handleTypes" [value]="ht">{{ ht }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid || !f.take_bill.value[0]?.link">确认添加</ion-button>
  </form>
</ion-content>
